* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #8bc1d3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
}

.login-box input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.login-box select{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
input, select {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    color: #777;
}
select {
    appearance: none;
    background-color: white;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #8bc1d3;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #6fa8bf;
}

.forgot-password {
    display: block;
    margin-top: 10px;
    font-size: 14px;
    text-decoration: none;
    color: #0073e6;
}

.forgot-password:hover {
    text-decoration: underline;
}

.register-text {
    margin-top: 15px;
    font-size: 14px;
}

.register-text a {
    color: #0073e6;
    text-decoration: none;
}

.register-text a:hover {
    text-decoration: underline;
}
